HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

docs/

# Cho phép lưu tất cả các file migration chính thức (.sql)
!src/main/resources/db/migration/*.sql

# Bỏ qua các file nháp hoặc file tạm của hệ điều hành phát sinh trong thư mục này
src/main/resources/db/migration/*~
src/main/resources/db/migration/*.bak
src/main/resources/db/migration/.DS_Store

scripts/*
!scripts/data.csv
!scripts/generate_synthetic_seed.py
scripts/output/
